    <div id="keypad" data-role="dialog" data-theme="b">
        <div data-role="header" data-theme="b">
            <h1>Choose ID</h1>
        </div>
        <div data-role="content">
            <div class="ui-grid-a">
                <h2><div id="keypad-input"></h2>
            </div>
		  <div class="ui-grid-b">
			<div class="ui-block-a"><div class="ui-bar ui-btn-up-e keypad">1</div></div>
			<div class="ui-block-b"><div class="ui-bar ui-btn-up-e keypad">2</div></div>
			<div class="ui-block-c"><div class="ui-bar ui-btn-up-e keypad">3</div></div>
			<div class="ui-block-a"><div class="ui-bar ui-btn-up-e keypad">4</div></div>
			<div class="ui-block-b"><div class="ui-bar ui-btn-up-e keypad">5</div></div>
			<div class="ui-block-c"><div class="ui-bar ui-btn-up-e keypad">6</div></div>
			<div class="ui-block-a"><div class="ui-bar ui-btn-up-e keypad">7</div></div>
			<div class="ui-block-b"><div class="ui-bar ui-btn-up-e keypad">8</div></div>
			<div class="ui-block-c"><div class="ui-bar ui-btn-up-e keypad">9</div></div>
            <div class="ui-block-a"><div class="ui-bar ui-btn-up-e keypad">DEL</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-btn-up-e keypad">0</div></div>
            <div class="ui-block-c"><div class="ui-bar ui-btn-up-e keypad">GO</div></div>
		  </div>
        </div>
    </div>
